:root {
  --main-background: #f2fdff;
  --shadow-box: #c2c2c2;
  --bookmarked: #cfb108;
}
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
